.header.clearfix
  .container
    a.navbar-brand(href="/") 
      img(src="https://www.wevity.com/images/logo_wevity.png" alt="공모전 대외활동 사이트 - 위비티")
    nav.navbar.navbar-expand-md.navbar-dark.bg-dark.fixed-top
      #navbarsExampleDefault.collapse.navbar-collapse
        ul.nav.justify-content-center
          li.nav-item
            a.nav-link(href="/questions") 공모전
          li.nav-item
            a.nav-link(href="/users") 회원관리
          if (!currentUser) 
            li.nav-item
              a.nav-link(href='/signin') 로그인
            li.nav-item
              a.nav-link(href='/users/new') 회원가입
          else
            li.nav-item
              a.nav-link(href=`/users/${currentUser._id}`) 마이페이지
            li.nav-item
              a.nav-link(href='/signout') 로그아웃
        
          
